
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title></title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <style type="text/css">
            .web_dialog_overlay
            {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                background: #fff;
                opacity: .25;
                filter: alpha(opacity=15);
                -moz-opacity: .15;
                z-index: 101;
                display: none;
            }
            .web_dialog
            {
                display: none;
                position: fixed;
                width: 480px;
                height: 200px;
                top: 50%;
                left: 50%;
                margin-left: -190px;
                margin-top: -100px;
                background: url(images.jpeg) #ffffff no-repeat;
                background-size: 100% 100%;
                border: 1px solid #87CEFA;
                padding: 0px;
                z-index: 102;
                font-family: Verdana;
                font-size: 10pt;
            }
            .web_dialog_title
            {
                border-bottom: solid 2px #336699;
                background-color: #336699;
                padding: 4px;
                color: White;
                font-weight:bold;
            }
            .web_dialog_title a
            {
                color: White;
                text-decoration: none;
            }
            .align_right
            {
                text-align: right;
            }
        </style>
        <script type="text/javascript">

            $(document).ready(function ()
            {
                $(".btnShowSimple").click(function (e)
                {
                    ShowDialog(false);
                    $("#error").hide();
                    $("#brand1").val("");
                    //e.preventDefault();
                });

                $(".btnShowModal").click(function (e)
                {
                    ShowDialog(true);
                    e.preventDefault();
                });

                $("#btnClose").click(function (e)
                {
                    HideDialog();
                    e.preventDefault();
                });

                $("#btnSubmit").live('click',function (e)
                {
                    var name = $("#brand1").val();
                    
                    if(name == "" || name == null)
                    {
                        $("#error").show();
                        $("#error").html("<b>Please Enter the Name!!!</b>");
                        $("#brand1").focus();
                    }
                    else
                    {
                        $("#output").html("<b>Your Name: </b>" + name);
                        HideDialog();
                        e.preventDefault();    
                        window.location.assign("<%= sort_path %>")
                    }
                    
                });
            });

            function ShowDialog(modal)
            {
                $("#overlay").show();
                $("#dialog").fadeIn(300);

                if (modal)
                {
                    $("#overlay").unbind("click");
                }
                else
                {
                    $("#overlay").click(function (e)
                    {
                        //HideDialog();
                    });
                }
            }

            function HideDialog()
            {
                $("#overlay").hide();
                $("#dialog").fadeOut(300);
            } 
            
        </script>
    </head>
    <body>
        <form id="form1" runat="server">
            
            
            <br /><br />       
            
            <div id="output"></div>
            
            <div id="overlay" class="web_dialog_overlay"></div>
            
            <div id="dialog" class="web_dialog">
                <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left: 15px;">
                            <b>Choose your Name? </b>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left: 15px;">
                            <div id="brands">
                                Name <input id="brand1" name="brand" type="text" size="35" />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="padding-left: 15px;">
                            <div id="error" style = "color: red">
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <input id="btnSubmit" type="button" value="Submit" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="CSSTableGenerator">

                <table class="table1">
                    <tr>
                        <td>S.No</td>
                        <td>Route No</td>
                        <td>Route Name</td>
                        <td></td>
                        
                    </tr>
                    <% i = 0 %>
                    <% @routes.each do |route| %>
                    
                        <tr>
                            <td><center><%= i = i + 1 %></center></td>
                            <td><center><%= route.id %></center></td>
                            <td><%= route.route %></td>
                            <td>
                                <%= link_to image_tag("edit.png"),"#",:class =>"btnShowSimple" %>&emsp;&emsp;
                            </td>
                        </tr>

                    <% end %>

                </table>

            </div>

        </form>
    </body>
</html>
